{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "semi": false,
  "importOrder": [
    "^((@(commands|db|services)\/)|(@\/))(.*)$",
    "^@visualize-app\/(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
